<%= form_for(@mantenimiento) do |f| %>
  <div class="form-group">
    <%= f.label :denominacion, "Denominación", class: "control-label" %>
    <%= f.text_field :denominacion, class: "form-control", placeholder: "Introduce el nombre del Mantenimiento" %>     
  </div>
    <%= f.submit class: "btn btn-primary" %>
<% end %>