<div class="span12">
  <div class="box box-color box-bordered">
    <div class="box-title">
      <h3>
        <i class="icon-table"></i>
        Mantenimientos
      </h3>
    </div>
    <div class="box-content nopadding">
      <table class="table table-hover table-nomargin">
        <thead>
          <tr>
            <th width="10%">#</th>
            <th>Denominación</th>
            <th width="11%">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @mantenimientos.each do |m| %>
            <tr>
              <td width="10%"><%= m.id %></td>
              <td><%= m.denominacion %></td>
              <td width="11%">
                <%= link_to edit_mantenimiento_path(m), id: "Editar" do %> 
                  <button class="btn btn-warning"><i class="glyphicon-circle_question_mark"></i></button>
                <% end %>
                <%= link_to mantenimiento_path(m), method: :delete, data: { confirm: "¿Seguro que quieres borrar este Mantenimiento?"}, id: "Borrar" do %>
                  <button class="btn btn-danger"><i class="glyphicon-circle_remove"></i></button>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @mantenimientos %>
    </div>
  </div>
</div>