<ul class="minitiles">
  <li class="blue">
    <%= link_to new_estado_aplicacion_path, :id => "Nuevo Estado de Aplicación" do %>
      <i class="glyphicon-circle_plus"></i>
    <% end %>
  </li>
</ul>