<%= form_for(@estado_aplicacion) do |f| %>
  <div class="form-group">
    <%= f.label :denominacion, "Denominación", class: "control-label" %>
    <%= f.text_field :denominacion, class: "form-control", placeholder: "Introduce el nombre del Estado de Aplicación" %>     
  </div>
    <% if params[:action] == "new" %>
      <%= f.submit "Crear Estado de Aplicación", class: "btn btn-primary" %>
    <% else %>
      <%= f.submit "Actualizar Estado de Aplicación", class: "btn btn-primary" %>
    <% end %>
<% end %>