<div class="span12">
  <div class="box box-color box-bordered">
    <div class="box-title">
      <h3>
        <i class="icon-table"></i>
        Almacenamientos 
      </h3>
    </div>
    <div class="box-content nopadding">
      <table class="table table-hover table-nomargin">
        <thead>
          <tr>
            <th width="10%">#</th>
            <th>Nombre</th>
            <th>Apellidos</th>            
          
            <th width="11%">Acciones</th>
            <th width="1%"><%= link_to new_servidor_contacto_path, id: "Nuevo Contacto" do %>
                  <i class="glyphicon-circle_plus"></i>
                  <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @contactos.each do |c| %>
            <tr>
              <td width="10%"><%= c.id %></td>
              <td><%= c.nombre %></td>
              <td><%= c.apellidos %></td>
                        
              <td width="11%">              
                <%= link_to edit_servidor_almacenamiento_path(@servidor, a), id: "Editar" do %> 
                  <button class="btn btn-warning"><i class="glyphicon-circle_question_mark"></i></button>
                <% end %>
                <%= link_to [@servidor,a], method: :delete, data: { confirm: "¿Seguro que quieres borrar este Almacenamiento?"}, id: "Borrar" do %>
                  <button class="btn btn-danger"><i class="glyphicon-circle_remove"></i></button>
                  <% end %>
              </td>
              <td width="1%"></td>

            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @contactos %>
    </div>
  </div>
</div>