<%= form_for [@servidor, @almacenamiento] do |f| %>
<div class="row">
  <div class="col-md-4">
  <div class="form-group">
    <%= f.label :denominacion, "Denominación", class: "control-label" %>
    <%= f.text_field :denominacion, class: "form-control", placeholder: "Introduce la denominación del Almacenamiento" %>     
  </div>
  <div class="form-group">
    <%= f.label :tamanio, "Tamaño", class: "control-label" %>
    <%= f.text_field :tamanio, class: "form-control", placeholder: "Introduce el Tamaño de Disco" %>     
  </div>
  <div class="form-group">
    <%= f.label :fs, "FS", class: "control-label" %>
    <%= f.text_field :fs, class: "form-control", placeholder: "Introduce el FS" %>     
  </div>
  <div class="form-group">
    <%= f.label :tipo, "Tipo", class: "control-label" %>
    <%= f.text_field :tipo, class: "form-control", placeholder: "Introduce el Tipo del Almacenamiento" %>     
  </div>
  <div class="form-group">
    <%= f.label :raid, "Raid", class: "control-label" %>
    <%= f.text_field :raid, class: "form-control", placeholder: "Introduce el tipo de Raid" %>     
  </div>
  <div class="form-group">
    <%= f.label :punto_montaje, "Punto de Montaje", class: "control-label" %>
    <%= f.text_field :punto_montaje, class: "form-control", placeholder: "Introduce el Punto de Montaje del Almacenamiento" %>     
  </div>
  <div class="form-group">
    <%= f.label :observaciones, "Observaciones", class: "control-label" %>
    <%= f.text_field :observaciones, class: "form-control", placeholder: "Observaciones" %>     
  </div>
    <%= f.submit class: "btn btn-primary" %>
  </div>
</div>
<% end %>