<div class="span12">
  <div class="box box-color box-bordered">
    <div class="box-title">
      <h3>
        <i class="icon-table"></i>
        Aplicaciones
      </h3>
    </div>
    <div class="box-content nopadding">
      <table class="table table-hover table-nomargin">
        <thead>
          <tr>
            <th width="10%">#</th>
            <th>Nombre</th>
            <th>Lenguaje</th>
            <th>Criticidad</th>
            <th width="11%">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @aplicaciones.each do |a| %>
            <tr>
              <td width="10%"><%= a.id %></td>
              <td><%= a.nombre %></td>
              <td><%= a.lenguaje.denominacion %></td>
              <td><%= a.criticidad.denominacion %></td>
              
              <td width="11%">
                <%= link_to aplicacion_path(a), id: "Ver" do %> 
                  <button class="btn btn-info"><i class="icon-exclamation-sign"></i></button>
                <% end %>
                <%= link_to edit_aplicacion_path(a), id: "Editar" do %> 
                  <button class="btn btn-warning"><i class="glyphicon-circle_question_mark"></i></button>
                <% end %>
                <%= link_to aplicacion_path(a), method: :delete, data: { confirm: "¿Seguro que quieres borrar esta Aplicación?"}, id: "Borrar" do %>
                  <button class="btn btn-danger"><i class="glyphicon-circle_remove"></i></button>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @aplicaciones %>
    </div>
  </div>
</div>