<%= form_for(@aplicacion) do |f| %>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :nombre, "Nombre", class: "control-label" %>
        <%= f.text_field :nombre, class: "form-control", placeholder: "Introduce el nombre de la Aplicación" %>     
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :version, "Versión", class: "control-label" %>
        <%= f.text_field :version, class: "form-control", placeholder: "Introduce la versión" %>     
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :referencia_externa, "Referencia Externa", class: "control-label" %>
        <%= f.text_field :referencia_externa, class: "form-control", placeholder: "Introduce la Referencia Externa" %>     
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :descripcion, "Descripción", class: "control-label" %>
        <%= f.text_field :descripcion, class: "form-control", placeholder: "Introduce la Descripción" %>     
      </div>
    </div>
  </div>
<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :area_id, "Área", class: "control-label" %>
        <%= f.collection_select :area_id, Area.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :estado_aplicacion_id, "Estado", class: "control-label" %>
        <%= f.collection_select :estado_aplicacion_id, EstadoAplicacion.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :arquitectura_id, "Arquitectura", class: "control-label" %>
        <%= f.collection_select :arquitectura_id, Arquitectura.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :tipo_aplicacion_id, "Tipo de Aplicación", class: "control-label" %>
        <%= f.collection_select :tipo_aplicacion_id, TipoAplicacion.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :lenguaje_id, "Lenguaje", class: "control-label" %>
        <%= f.collection_select :lenguaje_id, Lenguaje.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :version_lenguaje, "Versión del Lenguaje", class: "control-label" %>
        <%= f.text_field :version_lenguaje, class: "form-control", placeholder: "Introduce la Versión del Lenguaje" %>  
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :acceso_id, "Acceso", class: "control-label" %>
        <%= f.collection_select :acceso_id, Acceso.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :seguridad_aplicacion_id, "Seguridad de la Aplicación", class: "control-label" %>
        <%= f.collection_select :seguridad_aplicacion_id, SeguridadAplicacion.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :suministro_id, "Suministro", class: "control-label" %>
        <%= f.collection_select :suministro_id, Suministro.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :mantenimiento_id, "Mantenimiento de la Aplicación", class: "control-label" %>
        <%= f.collection_select :mantenimiento_id, Mantenimiento.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :revisiones, "Revisiones", class: "control-label" %>
        <%= f.text_field :revisiones, class: "form-control", placeholder: "Introduce la Revisión" %>  
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :usuarios_nominales, "Usuarios Nominales", class: "control-label" %>
      <%= f.text_field :usuarios_nominales, class: "form-control", placeholder: "Introduce los Usuarios Nominales" %>  
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :usuarios_concurrentes, "Usuarios Concurrentes", class: "control-label" %>
      <%= f.text_field :usuarios_concurrentes, class: "form-control", placeholder: "Introduce los Usuarios Concurrentes" %>  
    </div>
  </div>
  <div class="col-md-4">
      <div class="form-group">
        <%= f.label :criticidad_id, "Criticidad de la Aplicación", class: "control-label" %>
        <%= f.collection_select :criticidad_id, Criticidad.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
</div>
<div class="row">
  <% if params[:action] == "new" %>
    <%= f.submit "Crear Aplicación", class: "btn btn-primary" %>
  <% else %>
    <%= f.submit "Actualizar Aplicación", class: "btn btn-primary" %>
  <% end %>
<% end %>