<%= render "cabecera_formulario" %>
<%= render "layouts/mensajes" %>
<div class="row">   
  <div class="col-md-12">
    <div class="box">
      <div class="box-title">
        <h3><i class="icon-edit"></i>Aplicación</h3>
      </div>
      <div class="box-content">
        <%= form_for(@aplicacion) do |f| %>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :id, "Referencia", class: "control-label" %>
      <p class="form-control-static"><%= @aplicacion.id %></p>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :nombre, "Nombre", class: "control-label" %>
        <p class="form-control-static"><%= @aplicacion.nombre %></p>
      </div>
    </div>    
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :version, "Versión", class: "control-label" %>
        <p class="form-control-static"><%= @aplicacion.version %></p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :referencia_externa, "Referencia Externa", class: "control-label" %>
        <p class="form-control-static"><%= @aplicacion.referencia_externa %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.label :area_id, "Área", class: "control-label" %>
      <p class="form-control-static"><%= @aplicacion.area.denominacion %></p>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :estado_aplicacion_id, "Estado de la Aplicación", class: "control-label" %>
        <p class="form-control-static"><%= @aplicacion.estado_aplicacion.denominacion %></p>
      </div>
    </div>    
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.label :arquitectura_id, "Arquitectura", class: "control-label" %>
      <p class="form-control-static"><%= @aplicacion.arquitectura.denominacion %></p>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :tipo_aplicacion_id, "Tipo de Aplicación", class: "control-label" %>
        <p class="form-control-static"><%= @aplicacion.tipo_aplicacion.denominacion %></p>
      </div>
    </div>    
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.label :lenguaje_id, "Lenguaje", class: "control-label" %>
      <p class="form-control-static"><%= @aplicacion.lenguaje.denominacion %></p>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :version_lenguaje, "Versión del Lenguaje", class: "control-label" %>
        <p class="form-control-static"><%= @aplicacion.version_lenguaje %></p>
      </div>
    </div>    
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.label :acceso_id, "Acceso", class: "control-label" %>
      <p class="form-control-static"><%= @aplicacion.acceso.denominacion %></p>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :seguridad_aplicacion_id, "Seguridad de la Aplicación", class: "control-label" %>
        <p class="form-control-static"><%= @aplicacion.seguridad_aplicacion.denominacion %></p>
      </div>
    </div>    
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.label :suministro_id, "Suministro", class: "control-label" %>
      <p class="form-control-static"><%= @aplicacion.suministro.denominacion %></p>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :mantenimiento_id, "Mantenimiento de la Aplicación", class: "control-label" %>
        <p class="form-control-static"><%= @aplicacion.mantenimiento.denominacion %></p>
      </div>
    </div> 
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :revisiones, "Revisiones", class: "control-label" %>
        <p class="form-control-static"><%= @aplicacion.revisiones %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :usuarios_nominales, "Usuarios Nominales", class: "control-label" %>
        <p class="form-control-static"><%= @aplicacion.usuarios_nominales %></p>
    
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :usuarios_concurrentes, "Usuarios Concurrentes", class: "control-label" %>
        <p class="form-control-static"><%= @aplicacion.usuarios_concurrentes %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :criticidad_id, "Criticidad", class: "control-label" %>
        <p class="form-control-static"><%= @aplicacion.criticidad.denominacion %></p>
      </div>
    </div>
  </div>
<% end %>
      </div>
    </div>
  </div>
</div>