<div class="span12">
  <div class="box box-color box-bordered">
    <div class="box-title">
      <h3>
        <i class="icon-table"></i>
        Almacenamientos 
      </h3>
    </div>
    <div class="box-content nopadding">
      <table class="table table-hover table-nomargin">
        <thead>
          <tr>
            <th width="10%">#</th>
            <th>HD</th>
            <th>Tamaño</th>            
            <th>FS</th>
            <th>Tipo</th>
            <th>RAID</th>
            <th>P. Montaje</th>
            <th>Observaciones</th>
            <th width="11%">Acciones</th>
            <th width="1%"><%= link_to new_servidor_almacenamiento_path, id: "Nuevo Almacenamiento" do %>
                  <i class="glyphicon-circle_plus"></i>
                  <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @almacenamientos.each do |a| %>
            <tr>
              <td width="10%"><%= a.id %></td>
              <td><%= a.denominacion %></td>
              <td><%= a.tamanio %></td>
              <td><%= a.fs %></td>
              <td><%= a.tipo %></td>
              <td><%= a.raid %></td>
              <td><%= a.punto_montaje %></td>
              <td><%= a.observaciones %></td>            
              <td width="11%">              
                <%= link_to edit_servidor_almacenamiento_path(@servidor, a), id: "Editar" do %> 
                  <button class="btn btn-warning"><i class="glyphicon-circle_question_mark"></i></button>
                <% end %>
                <%= link_to [@servidor,a], method: :delete, data: { confirm: "¿Seguro que quieres borrar este Almacenamiento?"}, id: "Borrar" do %>
                  <button class="btn btn-danger"><i class="glyphicon-circle_remove"></i></button>
                  <% end %>
              </td>
              <td width="1%"></td>

            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @almacenamientos %>
    </div>
  </div>
</div>