<% if @tipo_up_id == '1' %>
  <div class="form-group">
    <%= label_tag :plataforma_id, "Plataforma", class: "control-label" %>
    <%= collection_select :servidor, :plataforma_id, Plataforma.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
  </div>
<% else %>
  <div class="form-group">
    <%= label_tag :plataforma_id, "Plataforma", class: "control-label" %>
    <p class="form-control-static">No procede</p>
  </div>
<% end %>