<div class="box-content">
        <%= form_for(@servidor) do |f| %>
          <div class="row">
            <div class="col-md-4">
              <%= f.label :id, "Referencia", class: "control-label" %>
                <p class="form-control-static"><%= @servidor.id %></p>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.label :hostname, "Hostname", class: "control-label" %>
                    <p class="form-control-static"><%= @servidor.hostname %></p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.label :fqdn, "FQDN", class: "control-label" %>
                      <p class="form-control-static"><%= @servidor.fqdn %></p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <%= f.label :tipo_up_id, "Tipo de UP", class: "control-label" %>
                        <p class="form-control-static"><%= @servidor.tipo_up.denominacion %></p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <%= f.label :plataforma_id, "Plataforma", class: "control-label" %>
                          <%  if @servidor.tipo_up.id == 1 && @servidor.plataforma %>
                            %>
                            <p class="form-control-static"><%= @servidor.plataforma.denominacion %></p>
                          <% else %>
                            <p class="form-control-static">No procede</p>
                          <% end %>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <%= f.label :virtual, "Máquina Virtual", class: "control-label" %>
                            <p class="form-control-static"><%= @servidor.virtual %></p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          <div class="form-group">
                            <%= f.label :familia_id, "SO Familia", class: "control-label" %>
                              <p class="form-control-static"><%= @servidor.familia.denominacion %></p>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <%= f.label :sistema_operativo, "Sistema Operativo", class: "control-label" %>
                                <p class="form-control-static"><%= @servidor.sistema_operativo %></p>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <%= f.label :idioma_id, "Idioma", class: "control-label" %>
                                  <p class="form-control-static"><%= @servidor.idioma.denominacion %></p>
                                </div>
                              </div>
                              <div class="col-md-2">
                                <div class="form-group">
                                  <%= f.label :tipo_licencia_id, "Tipo de Licencia", class: "control-label" %>
                                    <p class="form-control-static"><%= @servidor.tipo_licencia.denominacion %></p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <%= f.label :numero_licencias, "Número de Licencias", class: "control-label" %>
                                      <p class="form-control-static"><%= @servidor.numero_licencias %></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <%= f.label :entorno_id, "Entorno", class: "control-label" %>
                                        <p class="form-control-static"><%= @servidor.entorno.denominacion %></p>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <%= f.label :criticidad_id, "Criticidad", class: "control-label" %>
                                          <p class="form-control-static"><%= @servidor.criticidad.denominacion %></p>
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="form-group">
                                          <%= f.label :monitorizacion, "Monitorización", class: "control-label" %>
                                            <% if @servidor.monitorizacion %>
                                              <p class="form-control-static">SI</p>
                                            <% else %>
                                              <p class="form-control-static">NO</p>
                                            <% end %>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <%= f.label :rol_servidor_id, "Rol Principal", class: "control-label" %>
                                              <p class="form-control-static"><%= @servidor.rol_servidor.denominacion %></p>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <%= f.label :rol_servidor_id, "Rol Secundario", class: "control-label" %>
                                                <p class="form-control-static"><%= @servidor.rol_servidor.denominacion %></p>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="col-md-12">
                                              <div class="form-group">
                                                <%= f.label :descripcion, "Descripción", class: "control-label" %>
                                                  <p class="form-control-static"><%= @servidor.descripcion %></p>
                                                </div>
                                              </div>
                                            </div>  
                                            <div class="row">
                                              <div class="col-md-4">
                                                <div class="form-group">
                                                  <%= f.label :memoria, "Memoria", class: "control-label" %>
                                                    <p class="form-control-static"><%= @servidor.memoria %></p>
                                                  </div>
                                                </div>
                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <%= f.label :procesadores, "Nº de Procesadores", class: "control-label" %>
                                                      <p class="form-control-static"><%= @servidor.procesadores %></p>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-4">
                                                    <div class="form-group">
                                                      <%= f.label :tipo_procesador, "Tipo de Procesador", class: "control-label" %>
                                                        <p class="form-control-static"><%= @servidor.tipo_procesador %></p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="row">
                                                    <div class="col-md-8">
                                                      <div class="form-group">
                                                        <%= f.label :ubicacion_id, "Ubicación", class: "control-label" %>
                                                          <p class="form-control-static"><%= @servidor.ubicacion.denominacion %></p>
                                                        </div>
                                                      </div>
                                                      <div class="col-md-4">
                                                        <div class="form-group">
                                                          <%= f.label :rack, "Rack", class: "control-label" %>
                                                            <p class="form-control-static"><%= @servidor.rack %></p>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="row">
                                                        <div class="col-md-4">
                                                          <div class="form-group">
                                                            <%= f.label :marca, "Marca", class: "control-label" %>
                                                              <p class="form-control-static"><%= @servidor.marca %></p>
                                                            </div>
                                                          </div>
                                                          <div class="col-md-4">
                                                            <div class="form-group">
                                                              <%= f.label :modelo, "Modelo", class: "control-label" %>
                                                                <p class="form-control-static"><%= @servidor.modelo %></p>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                              <div class="form-group">
                                                                <%= f.label :n_serie, "Número de Serie", class: "control-label" %>
                                                                  <p class="form-control-static"><%= @servidor.n_serie %></p>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <div class="row">
                                                              <div class="col-md-4">
                                                                <div class="form-group">
                                                                  <%= f.label :tamanio, "Tamaño(U)", class: "control-label" %>
                                                                    <p class="form-control-static"><%= @servidor.tamanio %></p>
                                                                  </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                  <div class="form-group">
                                                                    <%= f.label :conexiones, "Conexiones", class: "control-label" %>
                                                                      <p class="form-control-static"><%= @servidor.conexiones %></p>
                                                                    </div>
                                                                  </div>
                                                                  <div class="col-md-4">
                                                                    <div class="form-group">
                                                                      <%= f.label :tipo_conexiones, "Tipo de Conexiones", class: "control-label" %>
                                                                        <p class="form-control-static"><%= @servidor.tipo_conexiones %></p>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                  <div class="row">
                                                                    <div class="col-md-4">
                                                                      <div class="form-group">
                                                                        <%= f.label :intensidad, "Intensidad", class: "control-label" %>
                                                                          <p class="form-control-static"><%= @servidor.intensidad %></p>
                                                                        </div>
                                                                      </div>
                                                                      <div class="col-md-4">
                                                                        <div class="form-group">
                                                                        </div>
                                                                      </div>
                                                                      <div class="col-md-4">
                                                                        <div class="form-group">
                                                                          <%= f.label :potencia_maxima, "Potencia Máxima", class: "control-label" %>
                                                                            <p class="form-control-static"><%= @servidor.potencia_maxima %></p>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    <% end %>
                                                                  </div>