<%= form_for(@servidor) do |f| %>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :hostname, "Hostname", class: "control-label" %>
        <%= f.text_field :hostname, class: "form-control", placeholder: "Introduce el nombre del Host" %>     
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :fqdn, "FQDN", class: "control-label" %>
        <%= f.text_field :fqdn, class: "form-control", placeholder: "Introduce el nombre cualificado" %>     
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :tipo_up_id, "Tipo de UP", class: "control-label" %>
        <%= f.collection_select :tipo_up_id, TipoUp.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
    <div id="plataforma_id" class="col-md-4">
    <% if @servidor.plataforma %>
      <div class="form-group">
        <%= f.label :plataforma_id, "Plataforma", class: "control-label" %>
        <%= f.collection_select :plataforma_id, Plataforma.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    <% else %>
      <div class="form-group">
        <%= label_tag :plataforma_id, "Plataforma", class: "control-label" %>
        <p class="form-control-static">No procede</p>
      </div>
    <% end %>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :virtual, "Máquina Virtual", class: "control-label" %>
        <%= f.text_field :virtual, class: "form-control", placeholder: "Introduce el nombre de la Máquina Virtual" %>     
      </div>
    </div>
  </div>
<div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :familia_id, "SO Familia", class: "control-label" %>
        <%= f.collection_select :familia_id, Familia.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :sistema_operativo, "Sistema Operativo", class: "control-label" %>
        <%= f.text_field :sistema_operativo, class: "form-control", placeholder: "Introduce el nombre del Sistema Operativo" %>     
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :idioma_id, "Idioma", class: "control-label" %>
        <%= f.collection_select :idioma_id, Idioma.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :tipo_licencia_id, "Tipo de Licencia", class: "control-label" %>
        <%= f.collection_select :tipo_licencia_id, TipoLicencia.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :numero_licencias, "Número de Licencias", class: "control-label" %>
        <%= f.text_field :numero_licencias, class: "form-control", placeholder: "Introduce el número de Licencia" %>     
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :entorno_id, "Entorno", class: "control-label" %>
        <%= f.collection_select :entorno_id, Entorno.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :criticidad_id, "Criticidad", class: "control-label" %>
        <%= f.collection_select :criticidad_id, Criticidad.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
     <div class="col-md-4">
      <div class="form-group">
          <%= f.label :monitorizacion, "Monitorización", class: "control-label" %>
          <div class="checkbox">
            <%= f.check_box :monitorizacion %>     
          </div>
      </div>
     </div>    
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :rol_servidor_id, "Rol Principal", class: "control-label" %>
        <%= f.collection_select :rol_servidor_id, RolServidor.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :rol_secundario_id, "Rol Secundario", class: "control-label" %>
        <%= f.collection_select :rol_secundario_id, RolServidor.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :descripcion, "Descripción", class: "control-label" %>
        <%= f.text_field :descripcion, class: "form-control", placeholder: "Introduce una descripción breve" %>     
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :memoria, "Memoria", class: "control-label" %>
        <%= f.text_field :memoria, class: "form-control", placeholder: "Introduce la memoria en GB" %>     
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :procesadores, "Número de Procesadores", class: "control-label" %>
        <%= f.text_field :procesadores, class: "form-control", placeholder: "Introduce el número de Procesadores" %>     
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :tipo_procesador, "Tipo de Procesador", class: "control-label" %>
        <%= f.text_field :tipo_procesador, class: "form-control", placeholder: "Introduce el tipo de Procesador" %>     
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :ubicacion_id, "Ubicación", class: "control-label" %>
        <%= f.collection_select :ubicacion_id, Ubicacion.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :rack, "Rack", class: "control-label" %>
        <%= f.text_field :rack, class: "form-control", placeholder: "Introduce la denominación del Rack" %>     
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :marca, "Marca", class: "control-label" %>
        <%= f.text_field :marca, class: "form-control", placeholder: "Introduce la marca de la máquina" %>     
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :modelo, "Modelo", class: "control-label" %>
        <%= f.text_field :modelo, class: "form-control", placeholder: "Introduce el modelo" %>     
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :n_serie, "Número de Serie", class: "control-label" %>
        <%= f.text_field :n_serie, class: "form-control", placeholder: "Introduce el Número de serie" %>     
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :tamanio, "Tamaño(U)", class: "control-label" %>
        <%= f.text_field :tamanio, class: "form-control", placeholder: "Introduce el tamaño en U" %>     
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :conexiones, "Conexiones", class: "control-label" %>
        <%= f.text_field :conexiones, class: "form-control", placeholder: "Introduce el número de conexiones" %>     
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :tipo_conexiones, "Tipo de Conexiones", class: "control-label" %>
        <%= f.text_field :tipo_conexiones, class: "form-control", placeholder: "Introduce el Tipo de Conexiones" %>     
      </div>
    </div>
  </div>
<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :intensidad, "Intensidad", class: "control-label" %>
        <%= f.text_field :intensidad, class: "form-control", placeholder: "Introduce la Intensidad" %>     
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :potencia_maxima, "Potencia Máxima", class: "control-label" %>
        <%= f.text_field :potencia_maxima, class: "form-control", placeholder: "Introduce la Potencia Máxima" %>     
      </div>
    </div>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>