<ul class="nav nav-tabs">
  <% if params[:controller] == "servidores" %>
    <li class="active"><a href="/servidores/<%= params[:id] || params[:servidor_id] %>">Datos</a></li>
  <% else %>
    <li><a href="/servidores/<%= params[:id] || params[:servidor_id] %>">Datos</a></li>    
  <% end %>
  <% if params[:controller] == "almacenamientos" %>
    <li class="active"><a href="/servidores/<%= params[:servidor_id] || params[:id]  %>/almacenamientos">Almacenamientos</a></li>
  <% else %>
    <li><a href="/servidores/<%= params[:servidor_id] || params[:id]  %>/almacenamientos">Almacenamientos</a></li>
  <% end %>
  <li><a href="#">Interfaces</a></li>
  <li><a href="#">Servicios</a></li>
  <li><a href="#">Balanceo</a></li>
  <li><a href="#">Middleware</a></li>
  <li><a href="#">Aplicaciones</a></li>
  <li><a href="#">BD</a></li>
  <li><a href="#">Documentos</a></li>
  <li><a href="#">Observaciones</a></li>
   <% if params[:controller] == "contactos" %>
    <li class="active"><a href="/servidores/<%= params[:servidor_id] || params[:id]  %>/contactos">Contactos</a></li>
  <% else %>
    <li><a href="/servidores/<%= params[:servidor_id] || params[:id]  %>/contactos">Contactos</a></li>
  <% end %>
</ul>