<div class="span12">
  <div class="box box-color box-bordered">
    <div class="box-title">
      <h3>
        <i class="icon-table"></i>
        Servidores
      </h3>
    </div>
    <div class="box-content nopadding">
      <table class="table table-hover table-nomargin">
        <thead>
          <tr>
            <th width="10%">#</th>
            <th>Hostname</th>
            <th>Tipo UP</th>
            <th>Plataforma</th>
            <th>Ubicación</th>
            <th width="11%">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @servidores.each do |s| %>
            <tr>
              <td width="10%"><%= s.id %></td>
              <td><%= s.hostname %></td>
              <td><%= s.tipo_up.denominacion %></td>
              <% if s.tipo_up.id == 1 && s.plataforma %>
                <td><%= s.plataforma.denominacion %></td>
              <% else %>
                <td><%= "No procede" %></td>              
              <% end %>
              <td><%= s.ubicacion.denominacion %></td>

              <td width="11%">
                <%= link_to servidor_path(s), id: "Ver" do %> 
                  <button class="btn btn-info"><i class="icon-exclamation-sign"></i></button>
                <% end %>
                <%= link_to edit_servidor_path(s), id: "Editar" do %> 
                  <button class="btn btn-warning"><i class="glyphicon-circle_question_mark"></i></button>
                <% end %>
                <%= link_to servidor_path(s), method: :delete, data: { confirm: "¿Seguro que quieres borrar este Servidor?"}, id: "Borrar" do %>
                  <button class="btn btn-danger"><i class="glyphicon-circle_remove"></i></button>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @servidores %>
    </div>
  </div>
</div>