<%= render "cabecera_formulario" %>
<%= render "layouts/mensajes" %>
<div class="row">   
  <div class="col-md-12">
    <div class="box">
      <div class="box-title">
        <h3><i class="icon-edit"></i>Servidor</h3>
      </div>
      <p></p>
      
      <%= render "menu" %>
      <%= render "datos" %>
      </div>
</div>
</div>