<% if flash[:alert] %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= flash[:alert] %>
    <% if @arquitectura.errors.any? %>
      <div id="error_explanation">
        <%= pluralize(@arquitectura.errors.count, "error") %>
          debe corregirse:
        <ul>
          <% @arquitectura.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>