<%= form_for(@ubicacion) do |f| %>
  <div class="form-group">
    <%= f.label :denominacion, "Denominación", class: "control-label" %>
    <%= f.text_field :denominacion, class: "form-control", placeholder: "Introduce el nombre de la Ubicación" %>     
  </div>
  <% if params[:action] == "new" %>
    <%= f.submit "Crear Ubicación", class: "btn btn-primary" %>
  <% else %>
    <%= f.submit "Actualizar Ubicación", class: "btn btn-primary" %>
  <% end %>
<% end %>