<div class="span12">
  <div class="box box-color box-bordered">
    <div class="box-title">
      <h3>
        <i class="icon-table"></i>
        Ubicaciones
      </h3>
    </div>
    <div class="box-content nopadding">
      <table class="table table-hover table-nomargin">
        <thead>
          <tr>
            <th width="10%">#</th>
            <th>Denominación</th>
            <th width="11%">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @ubicaciones.each do |u| %>
            <tr>
              <td width="10%"><%= u.id %></td>
              <td><%= u.denominacion %></td>
              <td width="11%">
                <%= link_to edit_ubicacion_path(u), id: "Editar" do %> 
                  <button class="btn btn-warning"><i class="glyphicon-circle_question_mark"></i></button>
                <% end %>
                <%= link_to ubicacion_path(u), method: :delete, data: { confirm: "¿Seguro que quieres borrar esta Ubicación"}, id: "Borrar" do %>
                  <button class="btn btn-danger"><i class="glyphicon-circle_remove"></i></button>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @ubicaciones %>
    </div>
  </div>
</div>