<%= form_for(@area) do |f| %>
  <div class="form-group">
    <%= f.label :denominacion, "Denominación", class: "control-label" %>
    <%= f.text_field :denominacion, class: "form-control", placeholder: "Introduce el nombre del Área" %>     
  </div>
  <% if params[:action] == "new" %>
    <%= f.submit "Crear Área", class: "btn btn-primary" %>
  <% else %>
    <%= f.submit "Actualizar Área", class: "btn btn-primary" %>  
  <% end %>
<% end %>