<div class="page-header">
  <div class="pull-left">
    <h1><%= @constructor %></h1>
  </div>  
  <div class="pull-right">
    <div class="pull-right">
      <%%=  render 'boton_atras' %>
      <%%=  render 'layouts/fecha' %>
    </div>
  </div>
</div>