<%% if flash[:alert] %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%%= flash[:alert] %>
    <%% if <%= @variable %>.errors.any? %>
      <div id="error_explanation">
        <%%= pluralize(<%= @variable %>.errors.count, "error") %>
          debe corregirse:
        <ul>
          <%% <%= @variable %>.errors.full_messages.each do |msg| %>
            <li><%%= msg %></li>
          <%% end %>
        </ul>
      </div>
    <%% end %>
  </div>
<%% end %>