<%%= form_for(@<%= @variable %>) do |f| %>
  <div class="form-group">
    <%%= f.label :denominacion, "Denominación", class: "control-label" %>
    <%%= f.text_field :denominacion, class: "form-control", placeholder: "Introduce el nombre del <%= @modelo %>" %>     
  </div>
  <%% if params[:action] == "new" %>
    <%%= f.submit "Crear <%= @modelo %>", class: "btn btn-primary" %>
  <%% else %>
    <%%= f.submit "Actualizar <%= @modelo %>", class: "btn btn-primary" %>  
  <%% end %>
<%% end %>