<div class="span12">
  <div class="box box-color box-bordered">
    <div class="box-title">
      <h3>
        <i class="icon-table"></i>
        <%= @constructor %>
      </h3>
    </div>
    <div class="box-content nopadding">
      <table class="table table-hover table-nomargin">
        <thead>
          <tr>
            <th width="10%">#</th>
            <th>Denominación</th>
            <th width="11%">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <%% @<%= @variables %>.each do |<%= @variable[0] %>| %>
            <tr>
              <td width="10%"><%%= <%= @variable[0] %>.id %></td>
              <td><%%= <%= @variable[0] %>.denominacion %></td>
              <td width="11%">
                <%%= link_to edit_<%= @variable %>_path(<%= @variable[0] %>), id: "Editar" do %> 
                  <button class="btn btn-warning"><i class="glyphicon-circle_question_mark"></i></button>
                <%% end %>
                <%%= link_to area_path(<%= @variable[0] %>), method: :delete, data: { confirm: "¿Seguro que quieres borrar esta <%= @modelo %>?"}, id: "Borrar" do %>
                  <button class="btn btn-danger"><i class="glyphicon-circle_remove"></i></button>
                  <%% end %>
              </td>
            </tr>
          <%% end %>
        </tbody>
      </table>
      <%%= paginate <%= @varialbes %> %>
    </div>
  </div>
</div>