<%%= render "cabecera_formulario" %>
<%%= render "layouts/mensajes" %>
<%%= render 'errores' %>
<div class="row">   
  <div class="col-md-12">
    <div class="box">
      <div class="box-title">
        <h3><i class="icon-edit"></i>Añadir <%= @modelo %></h3>
      </div>
      <div class="box-content">
        <%%= render 'form' %>
      </div>
    </div>
  </div>
</div>