<%= form_for(@usuario) do |f| %>
<div class="row">
  <div class="col-md-4">
  <div class="form-group">
    <%= f.label :nombre, "Nombre", class: "control-label" %>
    <%= f.text_field :nombre, class: "form-control", placeholder: "Introduce el nombre de la Persona" %>     
  </div>
  <div class="form-group">
    <%= f.label :apellidos, "Apellidos", class: "control-label" %>
    <%= f.text_field :apellidos, class: "form-control", placeholder: "Introduce los Apellidos de la Persona" %>     
  </div>
  <div class="form-group">
    <%= f.label :usuario, "Usuario", class: "control-label" %>
    <%= f.text_field :usuario, class: "form-control", placeholder: "Introduce el Usuario" %>     
  </div>
  <div class="form-group">
    <%= f.label :correo, "Correo", class: "control-label" %>
    <%= f.text_field :correo, class: "form-control", placeholder: "Introduce el Correo electrónico" %>     
  </div>
  <div class="form-group">
    <%= f.label :password, "Password", class: "control-label" %>
    <%= f.password_field :password, class: "form-control", placeholder: "Introduce la Password" %>     
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Confirma la Password", class: "control-label" %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Introduce otra vez la Password" %>     
  </div>
  <div class="form-group">    
    <%= f.label :roles, class: "control-label" %></p>
      <% for rol in Usuario::ROLES %>  
        <%= check_box_tag "usuario[roles][]", rol, @usuario.roles.include?(rol) %>  
        <%= h rol.humanize %>  
      <% end %>  
      <%= hidden_field_tag "usuario[roles][]"%> 
  </div>
  <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>