<div class="span12">
  <div class="box box-color box-bordered">
    <div class="box-title">
      <h3>
        <i class="icon-table"></i>
        Usuarios
      </h3>
    </div>
    <div class="box-content nopadding">
      <table class="table table-hover table-nomargin">
        <thead>
          <tr>
            <th width="10%">#</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Usuario</th>
            <th>Roles</th>
            <th width="11%">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @usuarios.each do |u| %>
            <tr>
              <td width="10%"><%= u.id %></td>
              <td><%= u.nombre %></td>
              <td><%= u.apellidos %></td>
              <td><%= u.usuario %></td>
              <td><%= u.roles %></td>
              <td width="11%">
                <%= link_to usuario_path(u), id: "Ver" do %> 
                  <button class="btn btn-info"><i class="icon-exclamation-sign"></i></button>
                <% end %>
                <%= link_to edit_usuario_path(u), id: "Editar" do %> 
                  <button class="btn btn-warning"><i class="glyphicon-circle_question_mark"></i></button>
                <% end %>
                <%= link_to usuario_path(u), method: :delete, data: { confirm: "¿Seguro que quieres borrar este Usuario?"}, id: "Borrar" do %>
                  <button class="btn btn-danger"><i class="glyphicon-circle_remove"></i></button>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @usuarios %>
    </div>
  </div>
</div>