<%= render "cabecera_formulario" %>
<%= render "layouts/mensajes" %>
<div class="row">   
  <div class="col-md-12">
    <div class="box">
      <div class="box-title">
        <h3><i class="icon-edit"></i>Usuario</h3>
      </div>
      <div class="box-content">
        <%= form_for(@usuario) do |f| %>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :id, "Nombre", class: "control-label" %>
                <p class="form-control-static"><%= @usuario.nombre %></p>
              </div>
              <div class="form-group">
                <%= f.label :apellidos, "Apellidos", class: "control-label" %>
                <p class="form-control-static"><%= @usuario.apellidos %></p>
              </div>
              <div class="form-group">
                <%= f.label :usuario, "Usuario", class: "control-label" %>
                <p class="form-control-static"><%= @usuario.usuario %></p>
              </div>
              <div class="form-group">
                <%= f.label :correo, "Correo", class: "control-label" %>
                <p class="form-control-static"><%= @usuario.correo %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>