<%= render "cabecera" %>
<%= render "layouts/mensajes" %>
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= flash[:alert] %>
  </div>
<% end %><div class="row">
  <div class="span12">
    <div class="box">
      <div class="box-title">
        <h3>
          <i class="icon-reorder"></i>
          Tipo de Licencia
        </h3>
      </div>
      <div class="box-content">
        <%= render 'tipo_licencias' %>
      </div>
    </div>
  </div>
</div>