<ul class="minitiles">
  <li class="blue">
    <%= link_to new_seguridad_aplicacion_path, :id => "Nueva Seguridad de Aplicación" do %>
      <i class="glyphicon-circle_plus"></i>
    <% end %>
  </li>
</ul>