<%= form_for(@seguridad_aplicacion) do |f| %>
  <div class="form-group">
    <%= f.label :denominacion, "Denominación", class: "control-label" %>
    <%= f.text_field :denominacion, class: "form-control", placeholder: "Introduce el nombre de la Seguridad de Aplicación" %>     
  </div>
  <% if params[:action] == "new" %>
    <%= f.submit "Crear Seguridad de Aplicación", class: "btn btn-primary" %>
  <% else %>
    <%= f.submit "Actualizar Seguridad de Aplicación", class: "btn btn-primary" %>
  <% end %>
<% end %>