.pagination {
    float: right;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-top: 10px;
}
.pagination > a {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #333333;
    cursor: pointer;
    margin-right: 5px;
    padding: 3px 8px;
    text-decoration: none;
}
.pagination > a.disabled {
    color: #999999;
}
.pagination > a.disabled:hover {
    background: none repeat scroll 0 0 #EEEEEE;
    cursor: default;
}
.pagination > a:hover {
    background: none repeat scroll 0 0 #DDDDDD;
}
.pagination > span > a {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #333333;
    cursor: pointer;
    margin-right: 5px;
    padding: 3px 8px;
    text-decoration: none;
}
.pagination > span > a.active {
    background: none repeat scroll 0 0 #368EE0;
    color: #FFFFFF;
}

.pagination > span.current {
    background: none repeat scroll 0 0 #368EE0;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 5px;
    padding: 3px 8px;
    text-decoration: none;
}

.pagination > span.gap {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #FFFFFF;
}