<ul class="minitiles">
  <li class="blue">
    <%= link_to new_plataforma_bd_path, :id => "Nueva Plataforma de Base de Datos" do %>
      <i class="glyphicon-circle_plus"></i>
    <% end %>
  </li>
</ul>