<%= form_for(@plataforma_bd) do |f| %>
  <div class="form-group">
    <%= f.label :denominacion, "Denominación", class: "control-label" %>
    <%= f.text_field :denominacion, class: "form-control", placeholder: "Introduce el nombre de la Plataforma de Base de Datos" %>     
  </div>
 <% if params[:action] == "new" %>
    <%= f.submit "Crear Plataforma de Base de Datos", class: "btn btn-primary" %>
  <% else %>
    <%= f.submit "Actualizar Plataforma de Base de Datos", class: "btn btn-primary" %>
  <% end %>
<% end %>