<%= render 'cabecera' %>
<%= render 'layouts/mensajes' %>
<div class="row">
  <div class="span12">
    <div class="box">
      <div class="box-title">
        <h3>
          <i class="icon-reorder"></i>
          Familia
        </h3>
      </div>
      <div class="box-content">
        Familia <%= @familia.denominacion %>
      </div>
    </div>
  </div>
</div>