<%= form_for(@rol_servidor) do |f| %>
  <div class="form-group">
    <%= f.label :denominacion, "Denominación", class: "control-label" %>
    <%= f.text_field :denominacion, class: "form-control", placeholder: "Introduce el nombre del Rol de Servidor" %>     
  </div>
  <% if params[:action] == "new" %>
    <%= f.submit "Crear Rol de Servidor", class: "btn btn-primary" %>
  <% else %>
    <%= f.submit "Actualizar Rol de Servidor", class: "btn btn-primary" %>
  <% end %>
<% end %>