<div class="span12">
  <div class="box box-color box-bordered">
    <div class="box-title">
      <h3>
        <i class="icon-table"></i>
        Rol de Servidor
      </h3>
    </div>
    <div class="box-content nopadding">
      <table class="table table-hover table-nomargin">
        <thead>
          <tr>
            <th width="10%">#</th>
            <th>Denominación</th>
            <th width="11%">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @rol_servidores.each do |r| %>
            <tr>
              <td width="10%"><%= r.id %></td>
              <td><%= r.denominacion %></td>
              <td width="11%">
                <%= link_to edit_rol_servidor_path(r), id: "Editar" do %> 
                  <button class="btn btn-warning"><i class="glyphicon-circle_question_mark"></i></button>
                <% end %>
                <%= link_to rol_servidor_path(r), method: :delete, data: { confirm: "¿Seguro que quieres borrar este Rol de Servidor"}, id: "Borrar" do %>
                  <button class="btn btn-danger"><i class="glyphicon-circle_remove"></i></button>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @rol_servidores %>
    </div>
  </div>
</div>