<% if params[:controller] == "areas" %>
  <li class="active">
  <% else %>
  <li>
  <% end %>
  <a href="/areas">Áreas</a>
</li>
<% if params[:controller] == "arquitecturas" %>
  <li class="active">
  <% else %>
  <li>
  <% end %>
  <a href="/arquitecturas">Arquitecturas</a>
</li>
<% if params[:controller] == "lenguajes" %>
  <li class="active">
  <% else %>
  <li>
  <% end %>
  <a href="/lenguajes">Lenguajes</a>
</li>
<% if params[:controller] == "accesos" %>
  <li class="active">
  <% else %>
  <li>
  <% end %>
  <a href="/accesos">Accesos</a>
</li>
<% if params[:controller] == "suministros" %>
  <li class="active">
  <% else %>
  <li>
  <% end %>
  <a href="/suministros">Suministros</a>
</li>
<% if params[:controller] == "estado_aplicaciones" %>
  <li class="active">
  <% else %>
  <li>
  <% end %>
  <a href="/estado_aplicaciones">Estados de Aplicación</a>
</li>
<% if params[:controller] == "tipo_aplicaciones" %>
  <li class="active">
  <% else %>
  <li>
  <% end %>
  <a href="/tipo_aplicaciones">Tipos de Aplicación</a>
</li>
<% if params[:controller] == "seguridad_aplicaciones" %>
  <li class="active">
  <% else %>
  <li>
  <% end %>
  <a href="/seguridad_aplicaciones">Seguridad de Aplicación</a>
</li>
<% if params[:controller] == "mantenimientos" %>
  <li class="active">
  <% else %>
  <li>
  <% end %>
  <a href="/mantenimientos">Mantenimientos</a>
</li>
<% if params[:controller] == "plataforma_bds" %>
  <li class="active">
  <% else %>
  <li>
  <% end %>
  <a href="/plataforma_bds">Plataforma BD</a>
</li>
<% if params[:controller] == "tipo_bds" %>
  <li class="active">
  <% else %>
  <li>
  <% end %>
  <a href="/tipo_bds">Tipo BD</a>
</li>