<% if params[:controller] == "familias" %>
            <li class="active">
            <% else %>
            <li>
            <% end %>
            <a href="/familias">SO Familias</a>
          </li>
          <% if params[:controller] == "entornos" %>
            <li class="active">
            <% else %>
            <li>
            <% end %>
            <a href="/entornos">Entornos</a>
          </li>
          <% if params[:controller] == "idiomas" %>
            <li class="active">
            <% else %>
            <li>
            <% end %>
            <a href="/idiomas">Idiomas</a>
          </li>
          <% if params[:controller] == "tipo_ups" %>
            <li class="active">
            <% else %>
            <li>
            <% end %>
            <a href="/tipo_ups">Tipos de UP</a>
          </li>
          <% if params[:controller] == "plataformas" %>
            <li class="active">
            <% else %>
            <li>
            <% end %>
            <a href="/plataformas">Plataformas</a>
          </li>
          <% if params[:controller] == "tipo_licencias" %>
            <li class="active">
            <% else %>
            <li>
            <% end %>
            <a href="/tipo_licencias">Tipos de Licencia</a>
          </li>
          <% if params[:controller] == "ubicaciones" %>
            <li class="active">
            <% else %>
            <li>
            <% end %>
            <a href="/ubicaciones">Ubicaciones</a>
          </li>     
          <% if params[:controller] == "rol_servidores" %>
            <li class="active">
            <% else %>
            <li>
            <% end %>
            <a href="/rol_servidores">Roles de Servidor</a>
          </li>
          <% if params[:controller] == "criticidades" %>
            <li class="active">
            <% else %>
            <li>
            <% end %>
            <a href="/criticidades">Criticidades</a>
          </li>