<ul class="stats">
  <li class='lightred'>
    <i class="icon-calendar"></i>
    <div class="details">
      <span class="big"><%= fecha_hoy %></span>
      <span><%= dia_hoy %></span>
    </div>
  </li>
</ul>