<div id="navigation">
  <div class="container">
    <a href="#" id="brand">Cmdb</a>
    <ul class='main-nav'>
      <% if params[:controller] == "dashboard" %>
        <li class="active">
        <% else %>
        <li>
        <% end %>
        <a href="/dashboard">
          <span>Dashboard</span>
        </a>
      </li>
      <% if can? :manage, Servidor %>
      <li>
        <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
          <span>Sistemas</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% if params[:controller] == "servidores" %>
            <li class="active">
            <% else %>
            <li>
            <% end %>
            <a href="/servidores">Servidores</a>
          </li>
          <% if can? :manage, Familia %>
            <%= render 'layouts/cmdb_sistemas' %>
          <% end %>
        </ul>
      </li>
      <% end %>
      <li>
        <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
          <span>Desarrollo</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="/aplicaciones">Aplicaciones</a>
          </li>
          <li>
            <a href="/base_datos">Base de Datos</a>
          </li>
          <% if can? :manage, Area %>
            <%= render 'layouts/cmdb_desarrollo' %>
          <% end %>
        </ul>
        
      </li>
      <% if can? :manage, Usuario %>
        <li>
          <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
            <span>Administración</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% if params[:controller] == "usuarios" %>
              <li class="active">
              <% else %>
              <li>
              <% end %>
              <a href="/usuarios">Usuarios</a>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
    <%= render "layouts/usuario" %>
  </div>
</div>