<div class="user">
  
  <div class="dropdown">
    <a href="#" class='dropdown-toggle' data-toggle="dropdown"><%= "#{@current_user.nombre} #{@current_user.apellidos}" %>
      <%= image_tag("/avatares/#{@current_user.id}.jpg") %>
    </a>
    <ul class="dropdown-menu pull-right">
      <li>
        <a href="more-userprofile.html">Editar Perfil</a>
      </li>
      <li>
        <a href="#">Configuración</a>
      </li>
      <li>
        <%= link_to "Salir", login_path, method: :delete %>
      </li>
    </ul>
  </div>
</div>