<!DOCTYPE html>
<html>
  <head>
    <title>Cmdb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class='login'>
    <div class="wrapper">
      <h1><a href="index.html"><img src="img/logo-big.png" alt="" class='retina-ready' width="59" height="49">Cmdb</a></h1>
      <div class="login-body">
        <h2>Login de Usuario</h2>

        <%= form_for :login, method: "POST" do |f| %>
        <% if flash[:alert] %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <%= flash[:alert] %>
          </div>
        <% end %>
        <% if flash[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <%= flash[:notice] %>
          </div>
        <% end %>
          <div class="form-group">
            <%= f.label :usuario, "Usuario", class: "control-label" %>
            <%= f.text_field :usuario, class: "form-control", placeholder: "Introduce el nombre de Usuario" %>     
          </div>
          <div class="form-group">
            <%= f.label :password, "Password", class: "control-label" %>
            <%= f.password_field :password, class: "form-control", placeholder: "Introduce la contraseña de Usuario" %>     
          </div>
          <div class="submit">
            <%= f.submit "Entrar", name: "Entrar", class: "btn btn-primary" %>
          </div>
            <% end %>

            <div class="forget">
              <a href="#"><span>¿Has olvidado la contraseña?</span></a>
            </div>
          </div>
        </div>
      </body>
    </html>