<div class="span12">
  <div class="box box-color box-bordered">
    <div class="box-title">
      <h3>
        <i class="icon-table"></i>
        Tipos de Base de Datos
      </h3>
    </div>
    <div class="box-content nopadding">
      <table class="table table-hover table-nomargin">
        <thead>
          <tr>
            <th width="10%">#</th>
            <th>Denominación</th>
            <th width="11%">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @tipo_bds.each do |t| %>
            <tr>
              <td width="10%"><%= t.id %></td>
              <td><%= t.denominacion %></td>
              <td width="11%">
                <%= link_to edit_tipo_bd_path(t), id: "Editar" do %> 
                  <button class="btn btn-warning"><i class="glyphicon-circle_question_mark"></i></button>
                <% end %>
                <%= link_to tipo_bd_path(t), method: :delete, data: { confirm: "¿Seguro que quieres borrar este Tipo de Base de Datos?"}, id: "Borrar" do %>
                  <button class="btn btn-danger"><i class="glyphicon-circle_remove"></i></button>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @tipo_bds %>
    </div>
  </div>
</div>